.button{
    background-color: darkblue;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    height: 3em;
    width: 150px;
    position: relative;
    left: 70%;
    
}

.button:hover{
    cursor: pointer;
}